.progressBar-box {
    cursor: pointer;
    width: 100%;
    height: 35px;
    position: relative;

    .progressBar {
        position: absolute;
        bottom: 0;
        height: 10px;
        width: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        .progressline {
            height: 100%;
            width: 30%;
            background-color: #FFE924;
        }
    }
    .timecheck{
        position: absolute;
        top: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: white;
        user-select: none;
        &.right{
            right: 10px;
        }
        &.left{
            left:10px
        }
    }
    .show-time{
        user-select: none;
        opacity: 0;
        position: absolute;
        z-index: 10;
        bottom: 13px;
        left: 20px;
        padding: 3px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        transition: opacity 0.3s;
    }

    &:hover{
        .show-time{
            opacity: 1;
        }
    }
}

.progressbar-conteiner{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 10px;

    background-color: #161616;
    // border: 1px solid red;
}