.edit-page{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 120px;
    padding-bottom: 150px;

    .edit-conteiner{
        width: 1200px;
        margin: 0 auto;
        min-height: 300px;
        display: flex;
        justify-content: space-between;

        .book-image{
            box-sizing: border-box;
            position: relative;
            width: 420px;
            height: 650px;
            background-color: #1A1A1A;

            border-radius: 10px;
            // border: 1px solid red;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            .activeimage{
                position: absolute;
                top: 0;
                left: 0;

                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background-color: rgba(26, 26, 26, 0.70);

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 1;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                >span{
                    font-family: "Inter";
                    color: rgb(252, 99, 99);
                    font-size: 34px;
                    &:nth-child(2){
                        font-size: 26px; 
                    }
                }
            }

            input{
                position: absolute;
                display: block;
                top: 0;
                left: 0;

                border-radius: 10px;
                opacity: 0;

                width: 100%;
                height: 100%;

            }

            &.haveimage{
                background-image: url('./../../assets/imageback.png');
                .activeimage{
                    opacity: 0.6;
                    &:hover{
                        opacity: 0.4;
                    }
                }
            }
        }
        .right-collomn{
            width: 720px;
            input.text{
                box-sizing: border-box;
                display: flex;
                width: 100%;
                height: 50px;

                background-color: #1A1A1A;
                margin-bottom: 10px;
                outline: none;
                border: none;
                border-radius: 10px;
                padding-left: 15px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                color: white;

                &.serias-name{
                    font-size: 32px;
                }
                &.authtor-name{
                    font-size: 28px;
                }
            }
            textarea{
                box-sizing: border-box;

                width: 100% !important;
                border-radius: 10px;
                height: 300px !important;
                background-color: #1A1A1A;
                margin-bottom: 10px;
                outline: none;
                border: none;
                padding: 15px;

                overflow-y: scroll;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                color: white;

                &::-webkit-scrollbar {
                    width: 0px;               /* ширина scrollbar */
                }
                scrollbar-width: thin;          /* "auto" или "thin"  */
                scrollbar-color: rgba(0, 0, 255, 0) rgba(255, 166, 0, 0);
            }
            .buttons-group{
                width: 100%;
                height: 50px;
                // border: 1px solid red;
                margin-bottom: 10px;

                display: flex;
                justify-content: space-between;

                div{
                    user-select: none;
                    border-radius: 10px;
                    width: 230px;
                    height: 50px;
                    text-align: center;

                    background-color: #0A0A0A;
                    line-height: 50px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;

                    transition: 0.2s;
                    &:hover{
                        background-color: #191919;
                    }
                    &:nth-child(1){
                        color: #B5FF57;
                    }
                    &:nth-child(2){
                        color: #FFDB5E;
                    }
                    &:nth-child(3){
                        color: #FF5757;
                    }
                }
            }
            .books-group{
                box-sizing: border-box;
                padding: 15px;
                width: 100%;
                min-height: 40px;
                border-radius: 10px;
                background-color: #0A0A0A;
                // border: 1px solid red;
                margin-bottom: 10px;

                .box-editor-fragments{
                    width: 100%;
                    min-height: 40px;
                }
            }
            .borderRed{
                border: 1px solid rgb(247, 39, 39) !important;
            }
        }
    }

    &.ongrag{
        .activeimage{
            opacity: 0.5;
        }
    }
    &:not(.ongrag){
        .activeimage{
            // transition: 0.01s 0.01s;
        }
    }

    .error-message{
        position: fixed;

        top: calc(50% - 100px);
        left: calc(50% - 250px);

        width: 500px;
        height: 200px;
        border-radius: 10px;
        background-color: #0A0A0A;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: rgb(255, 83, 83);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;

        line-height: 38px;

        span:nth-child(1){
            font-size: 30px;
        }
        span:nth-child(2){
            font-size: 24px;
        }
    }
}