.pleer_layer {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .pleer_box {
        position: relative;
        width: calc(100% - 60px);
        max-width: 1200px;
        height: 90%;
        max-height: 900px;
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h1 {
            // border: 1px solid red;
            color: white;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 100px;
            max-width: 60%;
            height: 100px;
            text-align: center;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
        .place{
            flex-grow: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .play-pause{
                width: 100px;
                height: 100px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                transition: opacity 0.3s;
                &.play{
                    background-image: url('./../../../assets/pause.svg');
                }
                &.pause{
                    background-image: url('./../../../assets/play.svg');
                }
                &.hide{
                    opacity: 0;
                }
            }
        }
    }
    @media (max-width: 1200px) {
        .pleer_box {
            h1{
                font-size: 40px;
                line-height: 40px;
            }
        }
    }
}