.book-card{
    user-select: none;
    box-sizing: border-box;
    width: 350px;
    height: 150px;
    // border: 1px solid red;

    border-radius: 10px;
    margin-bottom: 25px;
    margin-right: 25px;
    background: #1c1c1c;
    box-shadow: 0px 0px 5px 0px #000000;


    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 115px;
    padding-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s transform;
    overflow: hidden;

    .book-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 96px;
        height: 100%;
        // border: 1px solid red;
        border-radius: 10px 0 0 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &.book{
            background-size: 80%;
            background-image: url('./../../../assets/book-icon.png');
        }
    }
    .propress-line{
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.3);

        >span{
            padding: 2px 5px;
            border-radius: 5px;

            bottom: 6px;
            left: 10px;
            position: absolute;
            color: #FFE924;

            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;

            background-color: rgba(0, 0, 0, 0.8);
            text-shadow: 0px 0px 5px black;
        }

        .light-line{
            height: 100%;
            width: 30%;

            background-color: #FFE924;
            box-shadow: 0px 0px 5px 0px #FFE924;
        }
    }
    .likebook-icon{
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;

        width: 30px;
        height: 30px;
        // border: 1px solid red;

        background-image: url('./../../../assets/HeartBook.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.4;

        transition: 0.2s;

        &.active{
            opacity: 1;
            filter: drop-shadow(0px 0px 3px #FFE924);
        }
    }
    >span.cense{
        position: absolute;
        bottom: 10px;
        right: 10px;

        color: white;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;

        display: flex;

        .start-icon{
            box-sizing: border-box;

            background-image: url('./../../../assets/staricon.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            width: 24px;
            height: 24px;
            margin-left: 5px;
        }
    }

    >p{
        width: 150px;
        height: 24px;
        line-height: 24px;

        color: white;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // border: 1px solid red;
    }

    >h2{
        line-height: 30px;

        color: white;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;


        width: 100%;
        height: 84px;
        overflow: hidden;

        // border: 1px solid red;
    }

    &:hover{
        transform: scale(1.05);
        @media (max-width: 500px) {
            transform: scale(1);
        }
    }

    &.like{
        box-shadow: 0px 0px 5px 1px #fdee63;
    }

    >a{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}