.pleer_layer {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .pleer_box {
        position: relative;
        width: calc(100% - 50px);
        max-width: 1400px;
        height: 800px;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h1 {
            color: white;
            font-family: 'EB Garamond';
            font-style: normal;
            font-weight: 400;
            font-size: 100px;
            line-height: 100px;
            text-align: center;
        }
        .place{
            flex-grow: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .play-pause{
                width: 100px;
                height: 100px;
                //border: 1px solid red;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                transition: opacity 0.3s;
                &.play{
                    background-image: url('./../../assets/play.svg');
                }
                &.pause{
                    background-image: url('./../../assets/pause.svg');
                }
                &.hide{
                    opacity: 0;
                }
            }
        }
    }
}