.exit-modal{
    position: absolute;
    top: 15px;
    right: 15px;

    width: 30px;
    height: 30px;
    // border: 1px solid red;

    >div{
        position: absolute;
        left: calc(50% - 2px);
        top: calc(50% - 15px);

        border-radius: 2px;
        background-color: white;
        width: 4px;
        height: 30px;

        &:nth-child(1){
            transform: rotate(45deg);
        }
        &:nth-child(2){
            transform: rotate(-45deg);
        }
    }

    &:hover{
        >div{
            background-color: rgb(255, 108, 108);
        }
    }
}