.collection-div{
    width: 240px;
    margin: 0 auto;
   // border: 1px solid red;
    color: white;
    position: relative;

    .collection-box{
        width: 240px;
        height: 40px;
        //border: 1px solid red;
        margin-bottom: 10px;
        position: relative;
        opacity: 0.4;
        transition: 0.3s;
        p{
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 38px;
            height: 38px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .collection-line{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: rgba(255, 255, 255, 0.5);
            overflow: hidden;
            .white-line{
                height: 100%;
                background-color: #ffe924b4;;
            }
        }
        &.active{
            opacity: 1;
        }
    }
    .book-box{
        //border: 1px solid red;
        width: 200px;
        margin-left: auto;
        overflow: hidden;
        height:125px;
        transition:0.3s;
    }
}