@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=EB+Garamond:wght@500&family=Inter:wght@400&family=Roboto&display=swap');
/*  */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#root {
    width: 100%;
    height: 100%;
}

.App {
    position: relative;
    width: 100%;
    height: 100%;
}